@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-principal: #f8e1ff;
    --cor1: #a931c4;
    --cor2: #8900a5;
    --cor3: #690086;
    --cor4: #4a0069;
}

body{
font-size: 1rem;
font-family: 'Merriweather'; 

}


section {
    padding-bottom: 5rem;
}

.display-4 {
    text-shadow: -5px 5px var(--cor1);
}

#ana nails {
    position:relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor4);
    background-size: 180px 180px;
}

#ana nails .container
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    



#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--cor4);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}