@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-principal: #ca53e4;
    --cor1: #a931c4;
    --cor2: #8900a5;
    --cor3: #690086;
    --cor4: #4a0069;
}

body{
font-size: 1rem;
font-family: 'Merriweather'; 

}

#contato {
    background: var(--cor-principal)
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(#ffffff; ) 
    padding: 2rem;
    border: radius 10px;
    box-shadow:  0 0 10px #4a0069 rgba (0,0,0,0.1)
    font-weight:bold;
}

.formulario button {
    background-color: var(--cor2);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor1);
}